    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">Login
                    <li><a ui-sref="dashboard({customerId: '{{billCtrl.data.customerId}}' })">Dashboard</a></li>
                    <li><a ui-sref="contracts({customerId: '{{billCtrl.data.customerId}}' })">Contracten</a></li>
                    <li><a ui-sref="bills({customerId: '{{billCtrl.data.customerId}}' })">Facturen (UC 8)</a></li>
                    <li><a ui-sref="reports({customerId: '{{billCtrl.data.customerId}}' })">Meldingen</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a ui-sref="login({customerId: '{{billCtrl.data.customerId}}' })">Log in (UC1)</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
        <div class="panel panel-default">
            <table class="table">
                <thead>
                    <tr>
                        <th>Datum</th>
                        <th>bedrag</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-if="billCtrl.data.bills === ''">
                    <td>1 januari 1970</td>
                    <td>€ 0,00</td>
                    <td class="text-success">Geen actie vereist</td>
                </tr>
                <tr ng-repeat="bill in billCtrl.data.bills">
                    <td>{{bill.LastUpdate}}</td>
                    <td>{{bill.Amount}}</td>
                    <td>{{bill.PaymentStatus}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>