    <div class="container-fluid">
        <div class="panel panel-default">
            <table class="table">
                <thead>
                    <tr>
                        <th>Datum</th>
                        <th>bedrag</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-if="billCtrl.data.bills === ''">
                    <td>1 januari 1970</td>
                    <td>€ 0,00</td>
                    <td class="text-success">Geen actie vereist</td>
                </tr>
                <tr ng-repeat="bill in billCtrl.data.bills">
                    <td>{{bill.LastUpdate}}</td>
                    <td>{{bill.Amount}}</td>
                    <td>{{bill.PaymentStatus}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>