<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="dashboard({customerId: '{{contractCtrl.data.customerId}}' })">Dashboard</a></li>
                    <li><a ui-sref="contracts({customerId: '{{contractCtrl.data.customerId}}' })">Contracten</a></li>
                    <li><a ui-sref="bills({customerId: '{{contractCtrl.data.customerId}}' })">Facturen</a></li>
                    <li><a ui-sref="reports({customerId: '{{contractCtrl.data.customerId}}' })">Meldingen</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a ui-sref="login({customerId: '{{contractCtrl.data.customerId}}' })">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="panel panel-default">
        <table class="table">
            <thead>
                <tr>
                    <th>Datum<</th>
                    <th>Omschrijving</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="contractCtrl.data.contracts === ''">
                    <td>Test</td>
                    <td>€ 0,00 per maand</td>
                    <td class="text-success">Geen actie vereist</td>
                </tr>
                <tr ng-repeat="contract in contractCtrl.data.contracts">
                    <td>{{contract.LastUpdate}}</td>
                    <td>{{contract.Description}}</td>
                    <td>{{contract.ContractStatus}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>