<div class="container-fluid">
    <div class="panel panel-default">
        <table class="table">
            <thead>
                <tr>
                    <th>Datum<</th>
                    <th>Omschrijving</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="contractCtrl.data.contracts === ''">
                    <td>Test</td>
                    <td>€ 0,00 per maand</td>
                    <td class="text-success">Geen actie vereist</td>
                </tr>
                <tr ng-repeat="contract in contractCtrl.data.contracts">
                    <td>{{contract.LastUpdate}}</td>
                    <td>{{contract.Description}}</td>
                    <td>{{contract.ContractStatus}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>