    <div class="container-fluid controlpanel">
        <div class="col-xs-3">
        </div>
        <div class="col-xs-3 pull-right">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Zoek contract" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Zoek</button>
                </span>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <table class="table">
                <thead>
                    <tr>
                        <th>Naam</th>
                        <th>Kosten</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>test</td>
                        <td>€ 23,00 /maand</td>
                        <td class="text-success">Geen actie vereist</td>
                        <td><a href="#">Meer informatie</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>