    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p>Meterstand</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a ui-sref="bills">Facturen</a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Datum</th>
                        <th>bedrag</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1 januari 1970</td>
                        <td>€ 0,00</td>
                        <td class="text-success">Geen actie vereist</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a ui-sref="reports">Meldingen</a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Datum</th>
                        <th>Soort</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1 januari 1970</td>
                        <td>Verhuizing</td>
                        <td class="text-success">Geen actie vereist</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a ui-sref="contracts">Contracten</a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Naam</th>
                        <th>Kosten</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Test</td>
                        <td>€ 0,00 per maand</td>
                        <td class="text-success">Geen actie vereist</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
