    <div class="container-fluid controlpanel">
        <div class="col-xs-3">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="True" aria-expanded="False">
                    Filter datum <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">laatste week</a></li>
                    <li><a href="#">laatste maand</a></li>
                    <li><a href="#">laatste jaar</a></li>
                    <li><a href="#">laatste decennium</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="True" aria-expanded="False">
                    Filter soort <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">klacht</a></li>
                    <li><a href="#">vraag</a></li>
                    <li><a href="#">verhuizing</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-3 pull-right">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Zoek melding..." />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Zoek</button>
                </span>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <table class="table">
                <thead>
                    <tr>
                        <th>Datum</th>
                        <th>soort</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1 januari 1970</td>
                        <td>verhuizing</td>
                        <td class="text-success">Geen actie vereist</td>
                        <td><a href="#">Meer informatie</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>